.badge {
	width: 10px;
	height: 10px;
	border-radius: 30px;
	display: inline-block;
	&--red {
		background-color: #ff6464;
	}
	&--blue {
		background-color: #64c4ed;
	}

	&--pink {
		background-color: #ffbbcc;
	}

	&--green {
		background-color: #42b883;
	}

	&--grey {
		background-color: #c9d1d3;
	}

	&--lime {
		background-color: #b6e6bd;
	}
	&--purple {
		background-color: #c355f5;
	}
	&--black {
		background-color: #110133;
	}
}
